@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --black: #181C14;
    --gray: #3C3D37;
    --dark-teal: #697565;
    --beige: #ECDFCC;
}

body {
    overflow-x: hidden  ;
}

nav #tab {
    color: whitesmoke;
}

nav #tab {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 80%;
}

nav {
    width: 17vw;
    background: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    height: 100vh;
    position: fixed;
}

body, #root {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    height: fit-content;
}

#root {
    display: flex;
}

aside {
    width: 20vw;
}

nav #title {
    font-size: 2em;
    margin-top: 1em;
}

nav a {
    color: whitesmoke;
    font-size: 1.6em;
    text-decoration: none;
}

footer {
    background: var(--beige);
    height: 12vh;
    font-size: 4em;
    width: 81.8vw;
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    font-size: 2rem;
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}