@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');

.material-icons {
    font-size: 2em;
}

.title {
    font-size: 1.7em;
    font-family: "Playwrite IN", serif;
    font-weight: 900;
    color: white;
}

.main-page {
    background: blue;
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.top {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(51, 50, 50);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0em;
}

.true {
    color: black;
}

hr {
    width: 100%;
    align-self: center;
}

.group {
    display: flex;
    gap: 2em;
    align-items: end;
    width: 100%;
    height: 100%;
}

.stories {
    height: fit-content;
    background: green;
    display: flex;
    justify-content: start;
    gap: 1em;
    overflow: scroll;
}
