@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');

.material-icons {
    font-size: 2em;
}

.title {
    font-size: 1.7em;
    font-family: "Playwrite IN", serif;
    font-weight: 900;
    color: white;
}

.main-page {
    background: blue;
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.top {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(51, 50, 50);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0em;
}

.true {
    color: black;
}

hr {
    width: 100%;
    align-self: center;
}

.group {
    display: flex;
    gap: 2em;
    align-items: end;
    width: 100%;
    height: 100%;
}

.stories-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    overflow-x: hidden;
  }
  
.stories {
    display: flex;
    gap: 1em;
    overflow-x: hidden; 
    scroll-behavior: smooth; 
    width: 50vw;
  }
  
.user-story {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.pfp-story {
    border-radius: 100%;
    width: 50px;
  }
  
.scroll-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
  }

.scroll-button.right {
    right: 25vw;
}

.scroll-button.left {
    left: 25vw;
}