@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');

.material-icons {
    font-size: 2em;
}

.title {
    font-size: 1.7em;
    font-family: "Playwrite IN", serif;
    font-weight: 900;
    color: white;
}