@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --black: #181C14;
    --gray: #3C3D37;
    --dark-teal: #697565;
    --beige: #ECDFCC;
}

nav section {
    color: whitesmoke;
}

nav section {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 80%;
}

nav {
    width: 200px;
    background: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: fixed;
}

body, #root {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    background: var(--dark-teal);
    height: fit-content;
}

#root {
    display: flex;
}

aside {
    width: 20vw;
}
